
<h1> Hello <%= user.username %>! </h1>
<h4> Welcome to this ChatGPT access portal. </h4>

<div class="row">
    <!-- Have a text prompt for the user to ask chatGPT their question -->
    <div class="col">
        <p> Provide the proof or theorem you want explained </p>
        <form method="post" action="chatgpt">
            <!-- Have the text box for input be larger than a standard input form -->
            <textarea name="question" rows="5" cols="80"></textarea>
            <br>
            <input class="btn btn-lg btn-primary" type="submit" value="Ask ChatGPT">
        </form>
    </div>
    <!-- Have a text box for the response from chatGPT -->
    <div class="col">
        <p> ChatGPT's response: </p>
        <textarea name="response" rows="5" cols="80" readonly>
            <%= response %>
        </textarea>
        <br>
        <!-- Have a button to look at the history of prompts/responses at /chatgpt/history -->
        <a class="btn btn-lg btn-primary" href="/chatgpt/history">View History</a>
</div>
