<h2>About Chris</h2>
<p>Chris is a Master's student in the Computer Science department at Brandeis University.<br>
    He finished undergraduate studies in Spring 2022 with a BS in Math and Computer Science.<br>
    He is interested in AI and ML as a field in general, and is currently just trying to finish the semester.<br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae nisl euismod, aliquam nunc quis, ultricies nis luctus.<br>
    </p>